<!doctype html>
<html lang="en">
  <head>
    <title>Job Seek</title>
    <meta charset="utf-8">
    <title>Job Seek</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- Script -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
   <!-- Icons -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body class="home">

    <div class="home-bar">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="Home page.html"> <img src="../static/img/logo.png" class='logo'></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0  text">
              <li class="nav-item">
                <a class="nav-link active nav-text" aria-current="page" href="Home page.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-text" href="about us.html">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-text" href="/signup" >Find Jobs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-text" href="contact us.html" > Contact us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


      <div class="content ">
        <div class=" main-content">
          <a href="/signup" class="btn ">Find Your Jobs</a>
          <h1>Helping You To Find Your Dream Jobs</h1>

          <div class="arrow-icons">
            <img src='../static/img/back-arrow.png'>
            <img src='../static/img/next-arrow.png'>
          </div>
        </div>
        <img src="../static/img/main.png" class="feature-img">

      </div>
      <br><br><br><br>
    <div class="grid row">
      <div class="grid-item col-lg-4 col-md-6">
        <div class="card">
          <img class="card-img" src="../static/img/rome.jpg" alt="Rome" />
          <div class="card-content">
            <h1 class="card-header">Rome</h1>
            <p class="card-text">
              Rome is known for its stunning <strong> architecture</strong>,
              with the Colleseum, Pantheon, and Trevi Fountain as the main
              attractions.
            </p>
            <button class="card-btn">Visit <span>&rarr;</span></button>
          </div>
        </div>
      </div>
      <div class="grid-item col-lg-4 col-md-6">
        <div class="card ">
          <img
            class="card-img"
            src="../static/img/grand-canyon.jpg"
            alt="Grand Canyon"
          />
          <div class="card-content">
            <h1 class="card-header">Grand Canyon</h1>
            <p class="card-text">
              One of the world's natural wonders, the iconic Grand Canyon draws
              oohs and aahs from visitors perched at the edge of its
            </p>
            <button class="card-btn">Visit <span>&rarr;</span></button>
          </div>
        </div>
      </div>
      <div class="grid-item col-lg-4 col-md-6">
        <div class="card">
          <img class="card-img" src="../static/img/maldives.jpg" alt="Maldives" />
          <div class="card-content">
            <h1 class="card-header">Maldives</h1>
            <p class="card-text">
              The Maldives are known for their
              <strong>natural environment</strong> including the blue ocean,
              white beaches, and clean air, attracting tourists.
            </p>
            <button class="card-btn">Visit <span>&rarr;</span></button>
          </div>
        </div>
      </div>
    </div>
      <div class="grid row">
        <div class="grid-item col-lg-4 col-md-6">
          <div class="card">
            <img class="card-img" src="../static/img/rome.jpg" alt="Rome" />
            <div class="card-content">
              <h1 class="card-header">Rome</h1>
              <p class="card-text">
                Rome is known for its stunning <strong> architecture</strong>,
                with the Colleseum, Pantheon, and Trevi Fountain as the main
                attractions.
              </p>
              <button class="card-btn">Visit <span>&rarr;</span></button>
            </div>
          </div>
        </div>
        <div class="grid-item col-lg-4 col-md-6">
          <div class="card">
            <img
              class="card-img"
              src="../static/img/grand-canyon.jpg"
              alt="Grand Canyon"
            />
            <div class="card-content">
              <h1 class="card-header">Grand Canyon</h1>
              <p class="card-text">
                One of the world's natural wonders, the iconic Grand Canyon draws
                oohs and aahs from visitors perched at the edge of its
              </p>
              <button class="card-btn">Visit <span>&rarr;</span></button>
            </div>
          </div>
        </div>
        <div class="grid-item col-lg-4 col-md-6">
          <div class="card">
            <img class="card-img" src="../static/img/maldives.jpg" alt="Maldives" />
            <div class="card-content">
              <h1 class="card-header">Maldives</h1>
              <p class="card-text">
                The Maldives are known for their
                <strong>natural environment</strong> including the blue ocean,
                white beaches, and clean air, attracting tourists.
              </p>
              <button class="card-btn">Visit <span>&rarr;</span></button>
            </div>
          </div>
        </div>
      </div>

      <div class="social">
          <h3>Follow Us</h3>
          <a target ="_blank" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a> |
          <a href="https://www.linkedin.com/in/chavi-abrol-b1a8b91a5/" target ="_blank" ><i class="fa fa-linkedin" aria-hidden="true"></i></a> |
          <a href="" target ="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a> |
          <a href="" target ="_blank"> <i class="fa fa-github" aria-hidden="true"></i></a>
          <p>Copyright &copy; 2021 lighting. All rights reserved </p>
      </div>

  </body>
</html>